<div class="social-feed-element {{? !it.moderation_passed}}hidden{{?}}" dt-create="{{=it.dt_create}}" social-feed-id = "{{=it.id}}">
    <div class='content'>

        <div class="media-body">
            <a class="icon" href="{{=it.link}}" target="_blank" class="read-button">
            <i class="fa fa-{{=it.social_network}}"></i>
        </a>
            
            <div class='text-wrapper'>
               <p>
                <a href="{{=it.link}}" target="_blank" class="read-button"><span class="author-title">{{=it.author_name}}</span></a>
            </p>
                <p class="social-feed-text">{{=it.text}} </p>
            </div>
        </div>
        <div class="img-wrapper">
         {{=it.attachment}}
         
        
        </div>
   
    </div>

</div>