$font-family-title: "Indie Flower",
cursive;
$font-family-body: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$color-light: #fff;
$color-dark: #444;
$background-color-dark: #444;
$background-color-middle: #ddd;
$background-color-light: #FFF;
$font-size-h1: 70px;
$font-size-p: 20px;
$font-size-sm: 16px;
$container-width: 400px;





/*buttons & fields*/



